{% extends 'base.html.twig' %}

{% block title %}Mon panier - La Boutique Française{% endblock %}

{% block content %}
    <h1>Mon panier</h1>
    Retrouvez l'ensemble de vos produits mis au panier

    {% if cart|length > 0 %}

    <table class="table table-dark mt-3">
        <thead>
            <tr>
                <th scope="col">Produits</th>
                <th></th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% set total = null %}
            {% for product in cart %}
                <tr>
                    <td><img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="75px"/><br></td>
                    <td>{{product.product.name}}</td>
                    <td>
                        <a href="{{ path('decrease_to_cart', {id : product.product.id}) }}">
                            <img src="{{ asset('assets/img/minus.png') }}" height="15px" alt="supprimer un produit">
                        </a>
                            {{product.quantity}}
                        <a href="{{ path('add_to_cart', {id : product.product.id}) }}">
                            <img src="{{ asset('assets/img/plus.png') }}" height="15px" alt="ajouter un produit">
                        </a>
                    </td>
                    <td>{{(product.product.price / 100) | number_format(2,',')}} €</td>
                    <td>{{((product.product.price * product.quantity) / 100) | number_format(2,',')}} €</td>
                    <td>
                        <a href="{{ path('delete_to_cart', {id : product.product.id}) }}">
                            <img src="{{ asset('assets/img/delete.png') }}" height="25px" alt="supprimer mon produit">
                        </a>
                    </td>
                </tr>
                {% set total =  total + (product.product.price * product.quantity) %}
            {% endfor %}  
        </tbody>
    </table>
    <div class="text-right">
        <strong>Nombre de produits : {{ cart|length }}</strong><br>
        <strong>Total de mon panier : {{(total / 100) | number_format(2,',')}} €</strong>
        <a href="" class="btn btn-primary btn-block mt-3">Valider mon panier</a>
    </div>
{% else %}
    <hr>
    <strong>Vous n'avez pas de produits dans votre panier</strong>
{% endif %}

{% endblock %}
